extends layout
block content
   script(type='text/javascript').
      var html = document.getElementsByTagName('html')[0];
      html.style.backgroundColor = '#3F1BBC';
   p(style='margin: 0 0 32px 0') Datos
   div
      table
         thead
            th Sede
            th Fecha
            th Indice UV
            th Humedad relativa
            th Temperatura
         tbody
            each item in data
               tr
                  td= item.sit_name
                  td= item.dat_date
                  td= item.dat_uv / item.dat_count
                  td= item.dat_hr / item.dat_count
                  td= item.dat_temp / item.dat_count